@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-1 {
    @apply font-primary text-4xl xl:text-5xl font-medium text-black dark:text-white;
  }

  .heading-2 {
    @apply font-primary text-2xl xl:text-4xl font-medium text-white;
  }

  .heading-3 {
    @apply font-primary text-black dark:text-white text-2xl xl:text-4xl font-semibold leading-[38px];
  }

  .sub-heading-1 {
    @apply font-primary text-2xl text-black dark:text-white;
  }

  .description-1 {
    @apply font-secondary text-black text-base;
  }

  .button-text {
    @apply font-secondary text-center text-2xl font-medium;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}
